# DB
/app/data.db3

# IDE cache
/.idea/

# Cache, session files and logs (Symfony3)
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/bin/*
/vendor/
/var/

# Assets and user uploads
/web/bundles/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

/bower_components
/mysql
